@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label {
  cursor: default;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
ul,
ol {
  list-style: none;
}

mark {
  border-radius: 20px;
  padding: 0.3rem;
  background-color: #0d163a;
  color: white;
}
